/*

    Document   : photogallery.css
    Author     : Abdul Sankoh
    Description: External style sheet for the application.
*/
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:LexReg;
    src: url(../css/fonts/LexendDeca-Regular.ttf);
}

html, body {
    width: 100%;
    height: 100%;
    color: #5c605c;
    text-align: center;
}

body{
    text-align: center;
    background-color: #ffffff;
    color: #5c605c;

}

/*reset padding for p and hx tags*/
p {
    padding: 0 0 1em;
    text-align: center;
}

h1, h2, h4, h6 {
    text-align: center;
    padding: 0 0 0.4em;
    color: #5c605c;
    padding-right: 150px;
}

h5{
    padding-left: 250px;
    text-align: center;
    font-size: 250%;
    color: #ffffff;
}

hr {
    margin-bottom: 3px;
    background-color: #bbb;
    color: #bbb;
    height: 1px;
    border: 0px;
    clear: both;
    text-align: center;
}

/*#top {*/
/*    !*text-align: center;*!*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: -10;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    background-color: #0eb7de;*/
/*    width: 100%;*/
/*    height: 160px;*/
/*}*/

#wrapper {
    height: auto !important;
    margin: 0 auto;
    margin-right: 200px;
    text-align:center;
    width:1080px;
    height: 100%;
}


/*styles for the page footer */
#footer{
    font-size: 80%;
    font-family: 'Times New Roman',Times,serif;
    text-align: center;
    color: #e1d5c2;
    background-color: #eeeeee;
}

#footer, #push{
    height: 4.8em;
    clear: both;
}

/*style for the banner */
#banner {
    background-image: linear-gradient(to bottom, rgba(55, 100, 200, .5), rgba(55, 100, 200, .3)), url("../../www/img/Aquatic-Hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 700px;
    width: clamp(600px, 100%, 100%);
    border-radius: 0 0 20% 20%;
    margin-bottom: 50px;
}

#banner #heroContent {
    color: white;
    font-size: 24px;
    margin-right: 125px;
    margin-top: 200px;
    font-family: LexReg;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: LexReg;
    align-items: end;
    padding: 0 50px;
}

#about {
    margin: 100px auto;
    /*width: 1600px;*/
    width: 100%;
}
#about .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
#about .flex-container .boxOne,
#about .flex-container .boxTwo,
#about .flex-container .boxThree {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    font-family: LexReg;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#about .flex-container .boxOne i,
#about .flex-container .boxTwo i,
#about .flex-container .boxThree i {
    font-size: 36px;
    padding: 25px;
}

#about .flex-container .boxOne h3,
#about .flex-container .boxTwo h3,
#about .flex-container .boxThree h3 {
    text-align: center;
    color: lightblue;
    padding-bottom: 20px;
}



/*styles for the page header that appears right below the banner*/
#main-header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #041e36;
    display: inline-block;
}
/*styles for the record numbers that appear to the right of the page header*/
span.rcd-numbers {
    color: #999;
    font-size: 0.55em;
    display: inline-block;
    margin-top: 18px;
    margin-left: 3px;
}

/* styles for grid */
/*.grid-container{*/
/*    margin: 12px auto 12px auto;*/
/*    width: 960px;*/
/*    border: 1px solid #3b3939;*/
/*    background-color: #0eb7de;*/

/*    display: flex;*/
/*    flex-flow: row wrap;*/
/*    justify-content: flex-start;*/
/*}*/

table{
    margin: auto;
}

.item {
    margin-top: 40px;
    float: left;
    min-height: 1px;
    padding: 10px;
    text-align: center;
}



.item > p {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 15px;
    margin: 0;
    text-align: center;
    color: #5c605c;
    width: 125px;
    height: 280px;
}

.item > p img {
    width: 126px;
    height: 178px;
    border: none;
}

.item > p a {
    text-decoration: #e1d9d9;
}

.item > p span {
    margin-top: 2px;
    display: inline-block;
    padding-left: 3px;
    font-size: .8em;
    font-family: "Arial Rounded MT Bold";
    color: #5c605c;
}


/* style for the search bar */
#searchbar {
    float: left;
    position: absolute;
    border: #bbb 1px solid;
    border-radius: 0px;
}

#searchbar input{
    border: none;
}

#suggestionDiv {
    position: absolute;
    padding: 0;
    margin: 0;
    right: -1px;
    background-color: #fff;
    font-size: 0.85em;
    z-index: 9999;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 2px 10px 12px 2px rgba(0,0,0,.175);
}

#suggestionDiv span {
    display: block;
    padding: 4px 3px 4px 10px;
    cursor: default;
    min-width: 178px;
    white-space: nowrap;
}

#suggestionDiv span:hover {
    background-color: #F5DEB3;
}

td img{
    width: 350px;
    height: 400px;
    /*padding-right: 50px;*/
    padding-top: 20px;
}

td p{
    /*max-width: 350px;*/
    display: block;
    font-family: LexReg;
    overflow: hidden;
}

td p b{
    display: block;
}

div.top-row {
    margin: auto;
    width: 1080px;
    height: 50px;
    line-height: 50px;
    font-size: 18pt;
    font-family: LexReg;
    color: white;
    background-color: #316AC5;
    padding: 20px;
    text-transform: uppercase;
}

div.middle-row {
    min-height: 200px;
    margin: auto;
    width: 1080px;
    padding: 20px 20px;
}

div.bottom-row {
    margin: 0px 20px;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #999;
    overflow: hidden;
}

.middle-row div input{
    padding: 10px 0;
    margin-bottom: 25px;
}

input.button {
    height: 40px;
    margin: auto;
    width: 500px;
    text-align: center;
    color: white;
    background-color: #000;
    text-transform: uppercase;
}
